.container
  .row 
    .col-xs-5
      %h1 Luftballons
      %p= "Luftballons sind toll!"
  .row
    .col-xs-3
      %p
    .col-xs-5
      %img{:src=>"luftballons.jpg"}

.container
  .row
    .col-xs-3
      %p 
        Hast du etwas Zeit für mich
        %br
        Dann singe ich ein Lied für dich 
        %br
        Von 99 Luftballons 
        %br
        Auf ihrem Weg zum Horizont
        %br
        Denkst du vielleicht grad' an mich
        %br
        Dann singe ich ein Lied für dich
        %br
        Von 99 Luftballons
        %br
        Und dass sowas von sowas kommt
        %br
        %br
    .col-xs-3
      %p
        99 Luftballons
        %br
        Auf ihrem Weg zum Horizont
        %br
        Hielt man für Ufo's aus dem All
        %br
        Drum schickte ein General
        %br
        'ne Fliegerstaffel hinterher,
        %br
        Alarm zu geben, wenn's so wär'
        %br
        Dabei war'n dort am Horizont
        %br
        Nur 99 Luftballons.
        %br
        %br
    .col-xs-3
      %p
        99 Düsenflieger
        %br
        Jeder war ein großer Krieger
        %br
        Hielten sich für Captain Kirk
        %br
        Es gab ein großes Feuerwerk
        %br
        Die Nachbarn haben nur gelacht
        %br
        Und fühlten sich gleich angemacht
        %br
        Dabei schoss man am Horizont
        %br
        Auf 99 Luftballons
        %br
        %br
    .col-xs-3
      %p
        99 Kriegsminister
        %br
        Streichholz und Benzinkanister
        %br
        Hielten sich für schlaue Leute
        %br
        Witterten schon fette Beute
        %br
        Riefen Krieg und wollten Macht
        %br
        Mann, wer hätte das gedacht
        %br
        Dass es einmal soweit kommt
        %br
        Wegen 99 Luftballons
        %br
        %br
    .col-xs-3
      %p
        99 Jahre Krieg
        %br
        Ließen keinen Platz für Sieger
        %br
        Kriegsminister gibt's nicht mehr
        %br
        Und auch keine Düsenflieger
        %br
        Heute zieh' ich meine Runden
        %br
        Seh' die Welt in Trümmern liegen
        %br
        Hab' 'nen Luftballon gefunden
        %br
        Denk' an dich und lass' ihn fliegen

    .col-xs-3
      %p
        %a{:href => "http://www.songtextemania.com/99_luftballons_songtext_nena.html"} Songtext        
      %p
        %a{:href => "http://www.youtube.com/watch?v=0gVFIqp0tjA"} Lied 

%p

  .row
    .col-xs-2
      %p
    .col-xs-2
      %p
    .col-xs-3
      %p
    .col-xs-2
      %form
      %p Bewertung abgeben:
      %input{type: "textfield", value: "Bewertung", id: "Bewertung"}
      %p
      %p Email:
      %input{type: "textfield", value: "Email", id: "Email"}
      %p
    .col-xs-3
      %p 
      %p 
      %p 
      %input{type: "button", value: "Absenden", id: "button"}
