!!! 5
%html
  %head
    %link(href="css/bootstrap.min.css" rel="stylesheet" type="text/css")
    %title Inkens Webseite
  %body
    %script{:type=>"js/bootstrap.min.js"}
    %h5 Praxisprojekt Ruby
    %h5 von Inken Leopold

    .container
      .row
        .col-xs-3 
          %ul.nav.nav-pills
            .navbar-header
              %h5 Navigation
              %p
            %li.active
              %a{:href => "#"} Home
            %li
              %a{:href => "http://www.songtextemania.com/99_luftballons_songtext_nena.html"} Link 1
            %li
              %a{:href => "http://www.songtextemania.com/99_luftballons_songtext_nena.html"} Link 2
            %li
              %a{:href => "http://www.nena.de/"} Autorin    
          .navbar-form.navbar-left
            .form-group
              %input{type: "textfield", value: "Search", id: "Search"}
              %input{type: "button", value: "Suchen", id: "button"}
  =yield